{% extends "base.html" %}

{% block content %}
<section class="contacts-section">
    <h2>Контакты</h2>

    <div class="contacts-card">
        <h3>Свяжитесь со мной:</h3>
        <ul>
            <li>Телеграм: <a href="https://t.me/kharoch">@kharoch</a></li>
            <li>Инстаграм: <a href="https://instagram.com/kharoch">@kharoch</a></li>
            <li>Телефон: +7 (902) 736-40-53</li>
        </ul>

        <p>Обычно отвечаю в течение 1-2 часов в рабочее время (10:00-20:00 по МСК).</p>
    </div>
</section>
{% endblock %}